[Desktop Entry]
Name=Transmission
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Keywords=torrents;downloading;uploading;share;sharing;
Exec=transmission-gtk %U
Icon=${SNAP}/meta/gui/transmission.svg
Terminal=false
TryExec=transmission-community
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;


